<div id="main">
    <div class="header">
        <h1>Welcome to the EH Excom Participation Tracker</h1>
        <h2>Please sign up or log in below</h2>
    </div>

    <div class="content-center">
        <%= button_to "Login", '/login', method: :get, :class => "pure-button" %>
        <%= button_to "Sign Up", '/users/new', method: :get, :class => "pure-button" %>
    </div>
</div>

