<div id="main">
    <div class="header">
        <h1>Profile</h1>
        <h2>Here is where user points and what not will go...</h2>
    </div>

    <div class="content" style="text-align:center;">
        <br>
        <%= @user.first_name %>
        <%= @user.last_name %>
        <%= @user.email %>
        <%= @user.committee %>
    </div>
</div>