
<div id="main">
<div class="header">
  <h1> <%= @committee.committee %> Subcommittees</h1>
</div>

<div class="content" style="text-align:center;">
    <div id="list" class="pure-u-1">
    <table class="pure-table">
        <tr>
            <th>Name</th>
            <th>Point Threshold</th>
        </tr>
        <% @subcommittees.each do |subcommittee| %>
        <tr>
            <td><%= subcommittee.subcommittee %></td>
            <td><%= subcommittee.point_threshold || 'None' %></td>
        </tr>
        <% end %>
    </table>
    </div>
</div>
</div>

<style>
a{
text-decoration: none;
color: #1b98f8;
}
.header a{
color: white;
}
th{
background:#500000;
padding:8px;
}
td{
    color:black;
}
.table{
border:2px solid black;
}
#table{
border-collapse: collapse;
width:100%;
}
.table td a{
background-color: #0078E7;
color: white;
padding:.3em;
border-radius:10px;
text-decoration: none;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.content {
max-width: 90%;
}
.pure-button {
color: white;
border-radius: 4px;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

</style>