<div class="header">
  <h1>Bulk Add Users Help Page</h1>
</div>
<div class="center">
  <a class="btn pure-button pure-button-primary" href="/bulk_add_users/"> Back to Bulk Add Users Page </a>
</div>
<div class="pure-g" style="margin-right: 2em;">
  <div class="pure-u-1">
    <div class="profile-card">
      <h1>Purpose</h1>
      <div class="text">
        <p>
          The purpose of this page is to help anyone using the bulk add users feature. Most of the errors associated with the bulk add users feature are due to an incorrectly formatted csv file. This page gives multiple examples of a correctly and incorrectly formatted csv files in hopes of mitigating these types of errors.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="pure-g" style="margin-right: 2em;">
  <div class="pure-u-1">
    <div class="profile-card">
      <h1>Correct CSV</h1>
      <div class="text">
        <h2>Format of CSV</h2>
        <p>
          In order for the bulk add users feature to work correctly. The columns in the csv have to be ordered as follows:
          <br>
          <br>
          UIN | First Name | Last Name | Email | Committee | Subcommittee | Point Total | Meeting Point | Event Points | Misc Points | Admin
          <br>
          <br>
          (All the fields after email are optional)
          <br>
          <br>
          If the columns are not ordered in this way, the program will most likely throw a parsing error. Examples of parsing errors are shown in the next section.
        </p>
        <h2>Examples</h2>
        <p>
          Here is an example of a correct csv with all possible fields inputted.
        </p>
        <table class="pure-table">
          <tr>
            <th>UIN</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Committee</th>
            <th>Subcommittee</th>
            <th>Point Total</th>
            <th>Meeting Total</th>
            <th>Event Point Total</th>
            <th>Misc Point Total</th>
            <th>Admin</th>
          </tr>
          <tr>
            <td>000000001</td>
            <td>John</td>
            <td>Doe</td>
            <td>john@email.com</td>
            <td>Internal</td>
            <td>Community Building</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>false</td>
          </tr>
          <tr>
            <td>000000002</td>
            <td>Jane</td>
            <td>Doe</td>
            <td>jane@email.com</td>
            <td>Internal</td>
            <td>Research and Technology</td>
            <td>10</td>
            <td>4</td>
            <td>4</td>
            <td>2</td>
            <td>true</td>
          </tr>
          <tr>
            <td>000000003</td>
            <td>Jackson</td>
            <td>Doe</td>
            <td>jackson@email.com</td>
            <td>Internal</td>
            <td>Community Building</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>0</td>
            <td>false</td>
          </tr>
        </table>
        <div class="center">
          <a id="correct_csv_all_fields-btn" class="pure-button pure-button-primary btn" target="_blank" href="/bulk_add_users/correct_csv_all_fields">Download CSV</a>
        </div>
        <p>Here is an example of a correct csv with only the required fields filled out.</p>
        <table class="pure-table">
          <tr>
            <th>UIN</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <tr>
              <td>000000001</td>
              <td>John</td>
              <td>Doe</td>
              <td>john@email.com</td>
            </tr>
            <tr>
              <td>000000002</td>
              <td>Jane</td>
              <td>Doe</td>
              <td>jane@email.com</td>
            </tr>
            <tr>
              <td>000000003</td>
              <td>Jackson</td>
              <td>Doe</td>
              <td>jackson@email.com</td>
            </tr>
          </table>
          <div class="center">
            <a id="correct_csv_required_fields-btn" class="pure-button pure-button-primary btn" target="_blank" href="/bulk_add_users/correct_csv_required_fields">Download CSV</a>
          </div>
          <p>Here is an example of a correct csv with all required fields but only some of the optionals fields inputted.</p>
          <table class="pure-table">
            <tr>
              <th>UIN</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Committee</th>
              <th>Subcommittee</th>
              <th>Point Total</th>
              <th>Meeting Total</th>
              <th>Event Point Total</th>
              <th>Misc Point Total</th>
              <th>Admin</th>
            </tr>
            <tr>
              <td>000000001</td>
              <td>John</td>
              <td>Doe</td>
              <td>john@email.com</td>
              <td>Internal</td>
              <td>Community Building</td>
              <td>0</td>
              <td></td>
              <td>0</td>
              <td>0</td>
              <td>false</td>
            </tr>
            <tr>
              <td>000000002</td>
              <td>Jane</td>
              <td>Doe</td>
              <td>jane@email.com</td>
              <td>Internal</td>
              <td>Research and Technology</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>true</td>
            </tr>
            <tr>
              <td>000000003</td>
              <td>Jackson</td>
              <td>Doe</td>
              <td>jackson@email.com</td>
              <td></td>
              <td></td>
              <td>2</td>
              <td>2</td>
              <td>0</td>
              <td>0</td>
              <td>false</td>
            </tr>
          </table>
          <div class="center">
            <a id="correct_csv_some_optional_fields-btn" class="pure-button pure-button-primary btn" target="_blank" href="/bulk_add_users/correct_csv_some_optional_fields">Download CSV</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pure-g" style="margin-right: 2em;">
    <div class="pure-u-1">
      <div class="profile-card">
        <h1>Incorrect CSV</h1>
        <div class="text">
          <h2>Preamble</h2>
          <p>This section shows the errors that are produced from an incorrectly formatted csv.</p>
          <h2>Examples</h2>
          <p>
            Here is an example of an incorrect csv where the last name and email field has been switched.
          </p>
          <table class="pure-table">
            <tr>
              <th>UIN</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Committee</th>
              <th>Subcommittee</th>
              <th>Point Total</th>
              <th>Meeting Total</th>
              <th>Event Point Total</th>
              <th>Misc Point Total</th>
              <th>Admin</th>
            </tr>
            <tr>
              <td>000000001</td>
              <td>John</td>
              <td>john@email.com</td>
              <td>Doe</td>
              <td>Internal</td>
              <td>Community Building</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
              <td>false</td>
            </tr>
            <tr>
              <td>000000002</td>
              <td>Jane</td>
              <td>jane@email.com</td>
              <td>Doe</td>
              <td>Internal</td>
              <td>Research and Technology</td>
              <td>10</td>
              <td>4</td>
              <td>4</td>
              <td>2</td>
              <td>true</td>
            </tr>
            <tr>
              <td>000000003</td>
              <td>Jackson</td>
              <td>jackson@email.com</td>
              <td>Doe</td>
              <td>Internal</td>
              <td>Community Building</td>
              <td>2</td>
              <td>2</td>
              <td>0</td>
              <td>0</td>
              <td>false</td>
            </tr>
          </table>
          <div class="center">
            <a id="incorrect_csv_email_last_name_switched-btn" class="pure-button pure-button-primary btn" target="_blank" href="/bulk_add_users/incorrect_csv_email_last_name_switched">Download CSV</a>
          </div>
          <p>The following csv will result in this parsing error.</p>
          <div class="pure-g" style="margin-right: 2em;">
            <div class="pure-u-1">
              <div class="profile-card">
                <h1>Parsing Error</h1>
                <div class="text">
                  <p>For member with the UIN: <b>000000001</b> the first name: <b>John</b> and the last name: <b>john@email.com</b> the following errors occured: </p>
                  <ul>
                    <li> the field email is invalid </li>
                  </ul>
                  <p>For member with the UIN: <b>000000002</b> the first name: <b>Jane</b> and the last name: <b>jane@email.com</b> the following errors occured: </p>
                  <ul>
                    <li> the field email is invalid </li>
                  </ul>
                  <p>For member with the UIN: <b>000000003</b> the first name: <b>Jackson</b> and the last name: <b>jackson@email.com</b> the following errors occured: </p>
                  <ul>
                    <li> the field email is invalid </li>
                  </ul>
                  <p>Please find this user in the table and ensure that their info is inputted correctly.</p>
                </div>
              </div>
            </div>
          </div>
          <p>Here is a example of a incorrect csv with the email field left out.</p>
          <table class="pure-table">
            <tr>
              <th>UIN</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <tr>
                <td>000000001</td>
                <td>John</td>
                <td>Doe</td>
              </tr>
              <tr>
                <td>000000002</td>
                <td>Jane</td>
                <td>Doe</td>
              </tr>
              <tr>
                <td>000000003</td>
                <td>Jackson</td>
                <td>Doe</td>
              </tr>
            </table>
            <div class="center">
              <a id="incorrect_csv_not_enough_columns-btn" class="pure-button pure-button-primary btn" target="_blank" href="/bulk_add_users/incorrect_csv_not_enough_columns">Download CSV</a>
            </div>
            <p>The following csv will result in this parsing error.</p>
            <div class="pure-g" style="margin-right: 2em;">
              <div class="pure-u-1">
                <div class="profile-card">
                  <h1>Parsing Error</h1>
                  <div class="text">
                    <p>The number columns in the uploaded table is incorrect. Please check row <b>1</b> it has 3 columns in your table. It is supposed to have at least 4 columns.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
    th{
      background:#500000;
      padding:8px;
    }
    .table{
      border:2px solid black;
    }
    #table{
      border-collapse: collapse;
      width:100%;
    }
  </style>
