<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css">

</head>
<body>

<%= form_with(url: {action: :create}, multipart: true) do %>
  <%= file_field_tag 'new_users' %>
  <%= submit_tag("Upload") %>
<% end %>
    
</body>
</html>


