<div class>
  <div id="main">
    <div class="header">
      <h1>Members</h1>
    </div>
    <div class="content" style="text-align:center;">
      <br>
      <%= link_to("<< Back to Member page", members_path, :class => 'back-link') %>
      <p>
        Attach CSV file with new users.
        <br>
        <br>
        This CSV file should be in the following format to ensure no parsing errors occur.
        <br>
        <br>
        UIN | First Name | Last Name | Email | Committee | Subcommittee | Point Total | Meeting Point | Event Points | Misc Points | Admin
        <br>
        <br>
        All fields after email are optional.
      </p>
      <%= form_with(url: {action: :create}, multipart: true) do %>
        <div class="horz">
          <label class="custom-file-upload">
            <input class="file" type="file" name="new_users" id="new_users">
            <a class="pure-button" >A Pure Button</a>
          </label>
          <p id="file_name" style="margin:5px"></p>
          <%= submit_tag "Upload", :class => "pure-button", :id => "upload_btn" %>
        </div>
      <% end %>
    </div>
  </div>
  <style>
    .horz{
    display: flex;
    align-items: center;
    justify-content: center;
    }
    input[type="file"] {
    display: none;
    }
    .custom-file-upload {
    /* border: 1px solid #ccc; */
    display: inline-block;
    cursor: pointer;
    }
  </style>
  <script>
    var file_input = document.getElementById('new_users')
    var file_name = document.getElementById('file_name')
    file_input.addEventListener('input', function (evt){
    var list = this.value.split('\\')
    file_name.innerText = list[list.length - 1]
    })
  </script>
