// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.pure-g {
    display: flex;
    grid-auto-flow:dense;
}

/*
 * -- PROFILE BOX WRAPPER --
 * This element wraps up all the profile box
 */
.profile-boxes {
    margin-bottom: 3.125em;
    text-align: center;
    margin: 0 auto;
}

/*
 * -- PROFILE BOX CLASS  --
 * All three boxes have a profile box class
 */
.profile-box {
    border: 1px solid #ddd;
    margin: 2em 1.5em 2em;
    padding: 0.5em 0.5em 0.5em;
    background: #500000;
}

.points-box {
    border: 1px solid #ddd;
    margin: 2em 1.5em 2em;
    padding: 0.5em 0.5em 3em;
    background: #500000;
}
/*
* --- td -----
* All table contents style
*/
.text-style{
    padding:10em;
    color:white;
}

