<div id="main">
    <div class="header">
        <h1>Activities</h1>
        <h2>Here is where activities can go...</h2>
    </div>

    <div class="content" style="text-align:center;">
        <br>
        Howdy <%= current_user.first_name %>
    </div>
</div>