<div id="main">
    <div class="header">
      <h1>Activities</h1>
    </div>
    <br>
    <div style="text-align: center;" >
      <%= button_to("Return to Activities", "/activities/", :method => "get", :class => 'back-link', :class=>"pure-button pure-button-primary") %>
    </div>
    <div class="l-content">
      <div class="profile-boxes pure-g">
        <div class="pure-u-1">
          <div class="profile-box">
            <div class="member delete">
              <h2>Delete <%=@activity.name%>?</h2>
                <%= link_to("Delete", "/activities/#{@activity.id}/delete", :class => 'action show pure-button button-secondary') %>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
<style>
  a{
    text-decoration: none;
    color: #1b98f8;
  }
  .header a{
    color: white;
  }
  th{
    background:#500000;

    padding:8px;
  }
  .profile-box{
        background:white;
        border:none;
        margin:2em 0;
    }
    .pure-table {
        border: 2px solid #a7a7a7;
    }
    .pure-button {
        color: white;
        border-radius: 4px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        left:0;
    }
    .pure-table th{
        background:#500000;
        border-right: 2px solid #a7a7a7;
        padding:8px;
    }
    .pure-table td{
        background:#f6f6f6;
        color:black;
    }


  }

  .table{
    border:2px solid black;
  }
  .table td a{
    background-color: #0078E7;
    color: white;
    padding:.3em;
    border-radius:10px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }
  .content {
    max-width: 90%;
  }
  .pure-button {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }
  @media 
only screen and (max-width: 760px)  {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
    display: block; 
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr { border: 2px solid #ccc;border-bottom:none;}

  .pure-table{
    border:none;
    border-bottom:2px solid #ccc;
  }

  
  .pure-table td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%;
    overflow-wrap: auto; 
  }
  
  .pure-table td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 10px;
    left: 6px;
    width: 45%; 
    white-space: nowrap;
    color:#500000;
    font-weight: bold;
    margin-right:10px;
  }

  td:nth-of-type(6){
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
  }
  td:nth-of-type(6):hover{
    overflow: visible;
    text-overflow: 
  }
  
  /*
  Label the data
  */
  td:nth-of-type(1):before { content: "First Name"; }
  td:nth-of-type(2):before { content: "Last Name"; }
  td:nth-of-type(3):before { content: "UIN"; }
  td:nth-of-type(4):before { content: "Committee"; }
  td:nth-of-type(5):before { content: "Subcommittee"; }
  td:nth-of-type(6):before { content: "Email"; }

  .head{
    display: none;
  }
}
</style>
