<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css">

<div id="main">

    <div class="l-content">

        <div class="profile-boxes pure-g">

            <div class="pure-u-1 pure-u-md-1-3"> 
                <div class="profile-box">
                    <h1>Profile</h1>
                    <div class="content" style="text-align:center;">
                        <br>
                        <%= current_user.first_name %>
                        <br>
                        <%= current_user.last_name %>
                        <br>
                        <%= current_user.email %>
                        <br>
                        <%= current_user.committee %>
                        <br>
                        <h1>Committee Information</h1>
                        <br>
                        <h2>Here is where committee contact will go</h2>
                    </div>
                </div>
            </div>

            <div class="pure-u-1 pure-u-md-1-3"> 
                <div class="profile-box">
                    <h1>Point Tracker</h1>
                    <div class="content" style="text-align:center;">
                        <h2>Here is where points</h2>
                    </div>
                </div>
            </div>

            <div class="pure-u-1 pure-u-md-1-3"> 
                <div class="profile-box">
                    <h1>Upcoming Events</h1>
                    <div class="content" style="text-align:center;">
                        <h2>Here is where events member has rsvp to will go...</h2>
                    </div>
                </div>
            </div>

        </div>

    </div> 

</div>